*.pyc
*.pkl
*.mat
**/.ipynb_checkpoints/*
**/.idea/*
*.log

snapshots/*
examples/diamond/dataCollection/
examples/diamond/forcedData/
launch_sofa.py.qglviewer.view
launch_sofa_modal_analysis.py.qglviewer.view
robots/data/old_modes/
examples/*/SSMmodels/
random_stuff.ipynb
